/* 
    Created on : 3-Apr-2019, 11:11:02 AM
    Author     : zhanghexiao
*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
