/* removes the asterisk that primfaces displays for a require field */
.ui-outputlabel-rfi {
    display: none;
}

.centered-panel {
    margin: 0 auto;
}

.removeBorders tr, .removeBorders td {
    border: none;
}

.ui-panel-titlebar {
    text-align: center
}

label {
    width: 8em;
    text-align: right;
    float: left;
}


.fishies {
	border: thin solid black;
}

.fishHeader {
	text-align: center;
	font-style: italic;
	color: Snow;
	background: Teal;
}

.fishFooter {
	font-size: 0.75em;
	text-align: center;
	background: PowderBlue;
}