<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.titleDisplayPage}</title>
    </h:head>
    <h:body>
        
        <h3 class="masthead-brand">#{msgs.titleDisplayPage}</h3>
        <ui:repeat value="#{theClients.clients}" var="aClients">

            <h:dataTable  value="#{aClients}" var="aClient"
             styleClass="fishies" headerClass="fishHeader"
             columnClasses="fishId,commonName"
                  rowClasses="oddrow,evenrow">
                <h:column>
                    <f:facet name="header">#{msgs.firstName}</f:facet>
                        #{aClient.firstName}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.lastName}</f:facet>
                        #{aClient.lastName}
                </h:column>
                <h:column>
                    <f:facet name="header" >#{msgs.email}</f:facet>
                        #{aClient.email}
                    <f:param name="emailIntable" value="#{aClient.email}" />
                </h:column>
                <h:column>
                <h:commandButton style='font-size:20px; font-weight:bold'    
                                             value="#{msgs.send}"
                                             action="#{sendGmailMail.sendMail}"  />
                </h:column>
            </h:dataTable>

            <br/><br/>
        </ui:repeat>
    </h:body>
</html>

