<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <meta name="HexiaoZhang" content="Download Page"></meta>
        <title>#{msgs.DownloadBook}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/"></link>
        <link href="resources/css/bootstrap.css" rel="stylesheet"></link>
        <link href="resources/css/download.css" rel="stylesheet"></link>

    </h:head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">#{msgs.book2}</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="FrontPage.xhtml">#{msgs.home}</a>
                        <a class="nav-link" href="RegistrationPage.xhtml">#{msgs.changebook}</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading">#{msgs.book2}</h1>
                <p class="lead">#{msgs.starDown}</p>
                <p class="lead">
 <!--**********************************************************************************************-->                   

                    <h:form id="form">
                        <p:commandButton id="downloadLink" value="Download"  onclick = "goback()" ajax="false" icon="ui-icon-arrowthichk-s">
                            <p:fileDownload value="#{userController.download(2)}" />
                        </p:commandButton>
                        <br></br> <br></br>
                        <p:commandButton  action="FrontPage" value="#{msgs.DownLoadFinished}" icon="ui-icon-arrowthichk-s">
                        </p:commandButton>
                        
<!--                        <script type="text/javascript">
                            function goback(){
                              alert("good");
                              window.location='FrontPage';
                            }
                        </script>-->
                    </h:form> 
 <!--******************************************************************* ***********************************************-->                   
                </p>
            </main>
            <footer class="mastfoot mt-auto">
            </footer>
        </div>
    </body>
</html>
