<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <meta name="HexiaoZhang" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"></meta>
        <meta name="generator" content="Jekyll v3.8.5"></meta>
        <title>#{msgs.welcome}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/"></link>

        <!-- Bootstrap core CSS -->
        <link href="resources/css/bootstrap.css" rel="stylesheet"></link>
        <link href="resources/css/pricing.css" rel="stylesheet"></link>
    </h:head>
    <h:body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">#{msgs.MontrealNews}</h5>
            <nav class="my-2 my-md-0 mr-md-3">     
                <h:form class="cstyle"> 
                    <div id="language">
                    </div>   
                    <h:commandLink immediate="true" actionListener="#{localeChoose.changeLocale}">
                        <f:param name="languageCode" value="fr_CA" />
                        <h:graphicImage url="/images/ca_flag.gif"
                                        style="border: 0px; margin-right: 1em;" />
                    </h:commandLink>
                    <h:commandLink immediate="true" actionListener="#{localeChoose.changeLocale}">
                        <f:param name="languageCode" value="en_CA" />
                        <h:graphicImage url="/images/en_flag.gif"
                                        style="border: 0px" />
                    </h:commandLink>
                </h:form>
            </nav>
            <a class="btn btn-outline-primary" href="LoginPage.xhtml">#{msgs.signin}</a>

        </div>

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">#{msgs.monthlynewsletter}</h1>
            <p class="lead">#{msgs.intro}</p>
        </div>

        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">#{msgs.ebooks}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">#{msgs.book1}<br></br><br></br> <small class="text-muted"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>#{msgs.author1}</li>
                            <li>#{msgs.releaseDate1}</li>
                            <li>#{msgs.language1}</li>
                        </ul> 
                       <!--<button type="button" class="btn btn-lg btn-block btn-primary">#{msgs.signup}</button>-->
                        <h:form>
                            <h:commandButton class="btn btn-lg btn-block btn-primary"
                                             value="#{msgs.signupFree}"
                                             action="RegistrationPage"/>
                        </h:form>    
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">#{msgs.ebooks}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">#{msgs.book2}<br></br><br></br><br></br><br></br><small class="text-muted"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>#{msgs.author2}</li>
                            <li>#{msgs.releaseDate2}</li>
                            <li>#{msgs.language2}</li>
                        </ul>
                        <h:form>
                            <h:commandButton class="btn btn-lg btn-block btn-primary"
                                             value="#{msgs.signupFree}"
                                             action="RegistrationPage"/>
                        </h:form>                         
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">#{msgs.ebooks}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">#{msgs.book3}<small class="text-muted"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>#{msgs.author3}</li>
                            <li>#{msgs.releaseDate3}</li>
                            <li>#{msgs.language3}</li>         
                        </ul>                             
                        <h:form>
                            <h:commandButton class="btn btn-lg btn-block btn-primary"
                                             value="#{msgs.signupFree}"
                                             action="RegistrationPage"/>
                        </h:form>                                       
                    </div>
                </div>
            </div>
           <a href="DisplayPage.xhtml" class="btn btn-lg btn-primary btn-block">#{msgs.display}</a>

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
            </footer>
        </div>
    </h:body>
</html>

