<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <title>#{msgs.signin}</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/"></link>
        <link href="resources/css/bootstrap.css" rel="stylesheet"></link>
        <link href="resources/css/login.css" rel="stylesheet"></link>
    </h:head>

    <body class="text-center">

        <h:form id="loginForm" class="form-signin"> 
            
            <h:outputText value="#{ClientJpaController.getBookChoose()}" />
            <h:outputText value="#{ClientJpaController.bookChoose}" />
            
            <h1 class="h3 mb-3 font-weight-normal">#{msgs.Pleasesignin}</h1>               
            <p:messages id="messages" showDetail="false" autoUpdate="true" />
            <p:outputLabel for="email" value="#{msgs.email}" />
            <p:inputText id="email" class="form-control" value="#{loginController.email}"
                         required="true" label="email"/>

            <p:outputLabel for="password" value="#{msgs.password}" />
            <p:password id="password" class="form-control" value="#{loginController.password}"
                           required="true" label="password"/>
            <h:outputLabel value="#{msgs.loginstatus}: "/>
            <h:outputText value="#{session.getAttribute('loggedIn')}"/>

            <p:commandButton value="log in" class="btn btn-lg btn-primary btn-block" action="#{loginController.login}"
                             style="display: block;margin: 0 auto;" update="loginForm" ajax="false"/>
            <a href="FrontPage.xhtml" class="btn btn-lg btn-primary btn-block">#{msgs.display}</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
        </h:form>

    </body>
</html>
