<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <meta name="HexiaoZhang" content=""></meta>
        <meta name="generator" content="Jekyll v3.8.5"></meta>
        <title>#{msgs.registration}</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/"></link>
        <link href="resources/css/bootstrap.css" rel="stylesheet"></link>
        <link href="resources/css/registration.css" rel="stylesheet"></link>
        <!-- Custom styles for this template -->
    </h:head>
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <h2>#{msgs.registrationForm}</h2>
                <p class="lead">#{msgs.fillForm}</p>
            </div>
            <div>

                <div>    
                    <h4 class="mb-3">#{msgs.presonalInformation}</h4>
                    <h:form id="signupForm" >
                        <div class="row">
                            <div class="col-md-6 mb-3">

                                <p:outputLabel for="firstName" value="#{msgs.firstName}"/>
                                <p:inputText id="firstName" label="firstName" class="form-control" required="true"
                                             requiredMessage="#{msgs.required}" value="#{signupController.client.firstName}"/>
                                <p:message  for="firstName" style="color:red"/>                 
                            </div>
                            <div class="col-md-6 mb-3">
                                <p:outputLabel for="lastName" value="#{msgs.lastName}"/>
                                <p:inputText id="lastName" label="lastName" class="form-control" required="true"
                                             requiredMessage="#{msgs.required}"
                                             value="#{signupController.client.lastName}"/>
                                <p:message  for="lastName" style="color:red"/>

                            </div>
                        </div>

                        <div class="mb-3">
                            <p:outputLabel for="password" value="#{msgs.password}"/>
                            <div class="input-group">
                                <!--                                <div class="input-group-prepend">
                                                                </div>-->
                                <p:password id="password" label="#{msgs.password}" class="form-control"
                                            value="#{signupController.client.password}" feedback="true"
                                            required="true" maxlength="12" promptLabel="#{msgs.passwordPrompt}"
                                            weakLabel="#{msgs.weak}" goodLabel="#{msgs.good}" strongLabel="#{msgs.strong}"
                                            requiredMessage="#{msgs.required}" match="password2"/>
                                <p:message for="password" style="color:red"/>                        
                            </div>
                        </div>                        
                        <div class="mb-3">
                            <!--<label for="username">Password</label>-->
                            <p:outputLabel for="password2" value="#{msgs.confirm}"/>
                            <div class="input-group">

                                <p:password id="password2" label="#{msgs.confirm}"  class="form-control"
                                            value="#{signupController.client.password}" feedback="false"
                                            required="true" maxlength="12" requiredMessage="#{msgs.required}"/>
                                <p:message for="password2" style="color:red"/>                        
                            </div>
                        </div>
                        <div class="mb-3">                       
                            <p:outputLabel for="email" value="#{msgs.email}"/>

                            <p:inputText id="email" label="email" class="form-control" required="true"
                                         requiredMessage="#{msgs.required}"
                                         value="#{signupController.client.email}"/>
                            <p:message  for="email" style="color:red"/>                       
                        </div>
                        <div class="mb-3">
                            <p:outputLabel for="adress" value="#{msgs.streetAddress}"/>

                            <p:inputText id="adress" label="adress" class="form-control" required="true"
                                         requiredMessage="#{msgs.required}"
                                         value="#{signupController.client.address1}"/>
                            <p:message  for="adress" style="color:red"/>                            
                        </div>
                        <div class="mb-3">                       
                            <p:outputLabel for="city" value="#{msgs.city}"/>

                            <p:inputText id="city" label="city" class="form-control" required="true"
                                         requiredMessage="#{msgs.required}"
                                         value="#{signupController.client.city}"/>
                            <p:message  for="city" style="color:red"/>                                
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">                               
                                <p:outputLabel for="country" value="#{msgs.country}"/>
                                <p:inputText id="country" label="country" class="form-control" required="true"
                                             requiredMessage="#{msgs.required}"
                                             value="#{signupController.client.country}"/>                        
                                <p:message  for="country" style="color:red"/>                                                       
                            </div>
                            <div class="col-md-4 mb-3">

                                <p:outputLabel for="province" value="#{msgs.province}"/>
                                <p:inputText id="province" label="province" class="form-control" required="true"
                                             requiredMessage="#{msgs.required}"
                                             value="#{signupController.client.province}"/>                        
                                <p:message for="province" style="color:red"/>                         
                            </div>
                            <div class="col-md-3 mb-3">

                                <p:outputLabel for="zip" value="#{msgs.postalcode}"/>
                                <p:inputText id="zip" label="zip" class="form-control" required="true"
                                             requiredMessage="#{msgs.required}"
                                             value="#{signupController.client.postalCode}"/>                        
                                <p:message for="zip" style="color:red"/> 
                            </div>
                            <div class="mb-3">
                                <h:selectOneRadio value="#{signupController.client.bookChoice}">#{msgs.chooseBook} 
                                    <f:selectItem itemValue="book1" itemLabel="#{msgs.book1}" />
                                    <f:selectItem itemValue="book2" itemLabel="#{msgs.book2}" />
                                    <f:selectItem itemValue="book3" itemLabel="#{msgs.book3}" />
                                </h:selectOneRadio>
                            </div>           
                        </div>
                        <p:commandButton class="btn btn-primary btn-lg btn-block"
                                         id="primebutton" value="#{msgs.submit}"
                                         style="display: block;margin: 0 auto;"
                                         action="#{signupController.signup()}" ajax="false" />
                        <a href="FrontPage.xhtml" class="btn btn-lg btn-primary btn-block">#{msgs.back}</a>
                    </h:form>
                </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2017-2019 CEJV559</p>
            </footer>
        </div>

    </body>
</html>
